mixin post(title, info, preview, link = "#")
    article.post
        h2.post__title #{title}
        .post__info #{info}
        .post__image 
            //- img(src=`img/posts-preview/${preview}`, alt=#{title})
            img(src="img/posts-preview/"+preview, alt=title)
        .post__content
            block
        .post__footer
            .post__read-more
                    +read-more("read more", link)
            .post__share-icons
                include ./../sections/share_icons.pug
//- Austin DIY sriracha polaroid sartorial la croix.
//- december 26, 2019 — 5 comments
//- 